In [1]:
import requests
import json
import pandas as pd
import csv
import os

In [2]:
beers_data= "beers-cleaned.csv"

beers_df = pd.read_csv(beers_data, encoding = "ISO-8859-1", engine='python')
beers_df.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,descript,...,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213,Unnamed: 214
0,2,264,Grimbergen Blonde,-1,-1,6.7,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,779,Widdershins Barleywine,-1,-1,9.1,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,287,Lucifer,-1,-1,8.5,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,1056,Bitter,-1,-1,4.0,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,1099,Winter Welcome 2007-2008,-1,-1,6.0,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
beer_df = beers_df.loc[:, ["brewery_id", "name", "style_id", "abv", "ibu"]]
beer_df.head()

   brewery_id                      name  style_id  abv   ibu
0         264         Grimbergen Blonde        -1  6.7  10.0
1         779    Widdershins Barleywine        -1  9.1  10.0
2         287                   Lucifer        -1  8.5  10.0
3        1056                    Bitter        -1  4.0  10.0
4        1099  Winter Welcome 2007-2008        -1  6.0  10.0

In [4]:
breweries_data= "breweries.csv"

breweries_df = pd.read_csv(breweries_data, encoding = "ISO-8859-1", engine='python')
breweries_df = breweries_df.rename(columns={'id': "brewery_id", "name": "brewery_name"})
breweries_df.head()

,brewery_id,brewery_name,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
0,1,(512) Brewing Company,"407 Radam, F200",NaN,Austin,Texas,78745,United States,512.707.2337,http://512brewing.com/,NaN,(512) Brewing Company is a microbrewery locate...,7/22/2010 20:00
1,2,21st Amendment Brewery Cafe,563 Second Street,NaN,San Francisco,California,94107,United States,1-415-369-0900,http://www.21st-amendment.com/,NaN,The 21st Amendment Brewery offers a variety of...,10/24/2010 13:54
2,8,Abbey Wright Brewing/Valley Inn,204 Valley Street,NaN,Williamsport,Pennsylvania,17702,United States,570.326.3383,http://www.valleyinnonline.com/,NaN,NaN,7/22/2010 20:00
3,9,Aberdeen Brewing,210 Aberdeen Dr.,NaN,Valparaiso,Indiana,NaN,United States,(219) 548-3300,NaN,NaN,NaN,7/22/2010 20:00
4,10,Abita Brewing Company,PO Box 1510,NaN,Abita Springs,Louisiana,70420,United States,800-737-2311,http://www.abita.com/,NaN,"Founded in 1986, the Abita Brewing Company is ...",7/22/2010 20:00

In [5]:
breweries_df.drop(['address2', 'code', 'filepath', 'last_mod'], axis=1, inplace=True)                          
breweries_df.head()

,brewery_id,brewery_name,address1,city,state,country,phone,website,descript
0,1,(512) Brewing Company,"407 Radam, F200",Austin,Texas,United States,512.707.2337,http://512brewing.com/,(512) Brewing Company is a microbrewery locate...
1,2,21st Amendment Brewery Cafe,563 Second Street,San Francisco,California,United States,1-415-369-0900,http://www.21st-amendment.com/,The 21st Amendment Brewery offers a variety of...
2,8,Abbey Wright Brewing/Valley Inn,204 Valley Street,Williamsport,Pennsylvania,United States,570.326.3383,http://www.valleyinnonline.com/,NaN
3,9,Aberdeen Brewing,210 Aberdeen Dr.,Valparaiso,Indiana,United States,(219) 548-3300,NaN,NaN
4,10,Abita Brewing Company,PO Box 1510,Abita Springs,Louisiana,United States,800-737-2311,http://www.abita.com/,"Founded in 1986, the Abita Brewing Company is ..."

In [6]:
beer_df = beer_df.rename(columns={'name': "beer_name"})
beer_df.head()

   brewery_id                 beer_name  style_id  abv   ibu
0         264         Grimbergen Blonde        -1  6.7  10.0
1         779    Widdershins Barleywine        -1  9.1  10.0
2         287                   Lucifer        -1  8.5  10.0
3        1056                    Bitter        -1  4.0  10.0
4        1099  Winter Welcome 2007-2008        -1  6.0  10.0

In [7]:
styles_data= "styles.csv"

styles_df = pd.read_csv(styles_data, encoding = "ISO-8859-1", engine='python')
styles_df.head(2)

,id,cat_id,style_name,Description,ABV_Low,ABV_High,IBU_low,IBU_High,SRM_Low,SRM_High,OG_Low,OG_High,FG_Low,FG_High,Glass Type
0,1,1,Classic English-Style Pale Ale,Classic English pale ales are golden to copper...,4.5,5.5,20,40,5.0,5.0,NaN,NaN,1.008,1.016,Stein
1,2,1,English-Style India Pale Ale,Most traditional interpretations of English-st...,5.0,7.0,35,63,6.0,14.0,NaN,NaN,1.012,1.018,Nonic Pint

In [8]:
styles_df = styles_df.loc[:, ["id","style_name", "Description"]]
styles_df.head(2)

,id,style_name,Description
0,1,Classic English-Style Pale Ale,Classic English pale ales are golden to copper...
1,2,English-Style India Pale Ale,Most traditional interpretations of English-st...

In [9]:
beer_styles = pd.merge(beer_df, styles_df, left_on="style_id", right_on="id")
beer_styles.head()

,brewery_id,beer_name,style_id,abv,ibu,id,style_name,Description
0,264,Grimbergen Blonde,-1,6.7,10.0,-1,Undefined-Ignore,anomaly 5
1,779,Widdershins Barleywine,-1,9.1,10.0,-1,Undefined-Ignore,anomaly 5
2,287,Lucifer,-1,8.5,10.0,-1,Undefined-Ignore,anomaly 5
3,1056,Bitter,-1,4.0,10.0,-1,Undefined-Ignore,anomaly 5
4,1099,Winter Welcome 2007-2008,-1,6.0,10.0,-1,Undefined-Ignore,anomaly 5

In [24]:
beerdf = pd.merge(beer_styles, breweries_df, on="brewery_id")
beerdf.head()

,brewery_id,beer_name,style_id,abv,ibu,id,style_name,Description,brewery_name,address1,city,state,country,phone,website,descript
0,779,Widdershins Barleywine,-1,9.1,10.0,-1,Undefined-Ignore,anomaly 5,Left Hand Brewing Company,1265 Boston Avenue,Longmont,Colorado,United States,1-303-772-0258,http://www.lefthandbrewing.com/,NaN
1,779,JuJu Ginger,-1,4.0,10.0,-1,Undefined-Ignore,anomaly 5,Left Hand Brewing Company,1265 Boston Avenue,Longmont,Colorado,United States,1-303-772-0258,http://www.lefthandbrewing.com/,NaN
2,779,Snow Bound Winter Ale,-1,8.6,10.0,-1,Undefined-Ignore,anomaly 5,Left Hand Brewing Company,1265 Boston Avenue,Longmont,Colorado,United States,1-303-772-0258,http://www.lefthandbrewing.com/,NaN
3,779,Pole Star Pilsner,-1,4.5,10.0,-1,Undefined-Ignore,anomaly 5,Left Hand Brewing Company,1265 Boston Avenue,Longmont,Colorado,United States,1-303-772-0258,http://www.lefthandbrewing.com/,NaN
4,779,Left Hand Milk Stout,20,5.9,10.0,20,Sweet Stout,"Sweet stouts, also referred to as cream stouts...",Left Hand Brewing Company,1265 Boston Avenue,Longmont,Colorado,United States,1-303-772-0258,http://www.lefthandbrewing.com/,NaN

In [28]:
beerdf = beerdf.loc[:, ["beer_name", "abv", "ibu","style_name", "brewery_name"]]
beerdf

,beer_name,abv,ibu,style_name,brewery_name
0,Widdershins Barleywine,9.10,10.0,Undefined-Ignore,Left Hand Brewing Company
1,JuJu Ginger,4.00,10.0,Undefined-Ignore,Left Hand Brewing Company
2,Snow Bound Winter Ale,8.60,10.0,Undefined-Ignore,Left Hand Brewing Company
3,Pole Star Pilsner,4.50,10.0,Undefined-Ignore,Left Hand Brewing Company
4,Left Hand Milk Stout,5.90,10.0,Sweet Stout,Left Hand Brewing Company
5,Black Jack Porter,4.50,10.0,Porter,Left Hand Brewing Company
6,Sawtooth Ale,4.50,10.0,American-Style Pale Ale,Left Hand Brewing Company
7,Warrior IPA,6.60,10.0,American-Style India Pale Ale,Left Hand Brewing Company
8,Goosinator Smoked Doppelbock 2007,4.50,10.0,American-Style Lager,Left Hand Brewing Company
9,Espresso Porter,8.50,10.0,Undefined-Ignore,Empyrean Brewing Company
10,Festive Ale 2007,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
11,Summer Common,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
12,Dark German Lager,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
13,Eccentric Belgian Wheat,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
14,Festive Ale 2006,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
15,Dark Side Vanilla Porter,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
16,Luna Sea Amber,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
17,Chaco Canyon Honey Gold,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
18,Burning Skye Scottish Ale,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
19,Solar Flare Summer Ale,4.50,10.0,Undefined-Ignore,Empyrean Brewing Company
20,Festive Ale 2000,4.50,10.0,American-Style Pale Ale,Empyrean Brewing Company
21,Third Stone Brown,4.50,10.0,American-Style Brown Ale,Empyrean Brewing Company
22,Eccentric Ale,4.50,10.0,American-Style Brown Ale,Empyrean Brewing Company
23,Maple Nut Brown,4.50,10.0,American-Style Brown Ale,Empyrean Brewing Company
24,Fallen Angel Sweet Stout,4.50,10.0,American-Style Stout,Empyrean Brewing Company
25,Collapsar Oatmeal Stout,4.50,10.0,American-Style Stout,Empyrean Brewing Company
26,Black Jack Stout,4.50,10.0,American-Style Stout,Empyrean Brewing Company
27,Empyrean Oktoberfest,4.50,10.0,German-Style Oktoberfest,Empyrean Brewing Company
28,Oak-Aged Belgian Tripel,9.00,10.0,Undefined-Ignore,Upstream Brewing Company at Legacy
29,Oak Aged Ebenezer,9.40,10.0,Undefined-Ignore,Upstream Brewing Company at Legacy
...,...,...,...,...,...
4449,Schlitz,4.50,10.0,American-Style Lager,Stroh Brewery Company
4450,Lone Star,4.50,10.0,American-Style Lager,Stroh Brewery Company
4451,Old Style,4.50,10.0,American-Style Lager,G. Heileman Brewing
4452,Special Export,4.50,10.0,American-Style Lager,G. Heileman Brewing
4453,Space-Aged Lager,4.50,10.0,American-Style Lager,Big Bang Brewery (Closed)
4454,Amber Lager,4.50,10.0,American-Style Lager,Bad Frog Brewery Company
4455,Pecan Street Lager,4.50,10.0,American-Style Lager,Old City Brewing
4456,Augustiner,4.30,10.0,American-Style Lager,Iron City Brewing Co.
4457,Iron City,4.50,10.0,American-Style Lager,Iron City Brewing Co.
4458,IC Light,4.15,10.0,American-Style Light Lager,Iron City Brewing Co.
4459,Narragansett Lager,4.50,10.0,American-Style Lager,The Narragansett Brewing Company
4460,Olde Buzzard Lager,5.00,10.0,American-Style Lager,Buzzards Bay Brewing Inc.
4461,Blackened Voodoo,5.00,10.0,American-Style Lager,Dixie Brewing
4462,Rolling Rock,4.60,10.0,American-Style Light Lager,Latrobe Brewing
4463,Upland Wheat Ale,4.50,10.0,Light American Wheat Ale or Lager,Upland Brewing
4464,MonkeyBoy Ale,8.20,10.0,Light American Wheat Ale or Lager,Cat's Paw Home Brew
4465,Sea Dog Raspberry Wheat Ale,4.50,10.0,Light American Wheat Ale or Lager,Sea Dog Brewing Company
4466,Sea Dog Apricot Wheat,3.50,10.0,Fruit Beer,Sea Dog Brewing Company
4467,Sea Dog Blue Paw Wheat,3.50,10.0,Fruit Beer,Sea Dog Brewing Company
4468,Woodchuck Granny Smith Varietal Draft Cider,5.00,10.0,Fruit Beer,Green Mountain Beverage
4469,Woodchuck Amber Draft Cider,5.00,10.0,Fruit Beer,Green Mountain Beverage
4470,Woodchuck Dark and Dry Draft Cider,5.00,10.0,Fruit Beer,Green Mountain Beverage
4471,Cider Jack,4.50,10.0,Fruit Beer,Green Mountain Beverage
4472,Huckleberry Ale,3.50,10.0,Fruit Beer,Coeur d'Alene Brewing Company
4473,Derailed Black Cherry Ale,5.00,10.0,Fruit Beer,Erie Brewing Company
4474,Doc's Hard Apple Cider,4.50,10.0,Fruit Beer,Warwick Valley Wine Co.
4475,Wild Goose Pumpkin Patch,6.00,10.0,Pumpkin Beer,"Wild Goose Brewery, LLC"
4476,Mamma Mia! Pizza Beer,4.60,10.0,Herb and Spice Beer,Pizza Beer
4477,Dark Element,8.75,65.5,Specialty Beer,Element Brewing Company
4478,Full Boar,4.50,10.0,Out of Category,Devil's Canyon

In [29]:
beerdf.dtypes

beer_name        object
abv             float64
ibu             float64
style_name       object
brewery_name     object
dtype: object

In [30]:
beerdf = beerdf.rename(columns={'brewery_name': 'brewery','beer_name':'beer','style_name':'style'})
beerdf.columns.values

array(['beer', 'abv', 'ibu', 'style', 'brewery'], dtype=object)

In [31]:
beerdf.to_csv('beers_final.csv', index=False)

In [11]:
geo_data= "breweries_geocode.csv"

geo_df = pd.read_csv(geo_data, encoding = "ISO-8859-1", engine='python')
geo_df.head(2)

   id  brewery_id  latitude  longitude accuracy                 location
0   1           1   30.2234   -97.7697  ROOFTOP  POINT(-97.7697 30.2234)
1   2           2   37.7825  -122.3930  ROOFTOP  POINT(-122.393 37.7825)

In [25]:
brewerydf = pd.merge(breweries_df, geo_df, on="brewery_id")
brewerydf.head(2)

,brewery_id,brewery_name,address1,city,state,country,phone,website,descript,id,latitude,longitude,accuracy,location
0,1,(512) Brewing Company,"407 Radam, F200",Austin,Texas,United States,512.707.2337,http://512brewing.com/,(512) Brewing Company is a microbrewery locate...,1,30.2234,-97.7697,ROOFTOP,POINT(-97.7697 30.2234)
1,2,21st Amendment Brewery Cafe,563 Second Street,San Francisco,California,United States,1-415-369-0900,http://www.21st-amendment.com/,The 21st Amendment Brewery offers a variety of...,2,37.7825,-122.3930,ROOFTOP,POINT(-122.393 37.7825)

In [34]:
brewerydf = brewerydf.loc[:, ["brewery_name", "address1", "city", "state","latitude","longitude","website"]]
brewerydf

,brewery_name,address1,city,state,latitude,longitude,website
0,(512) Brewing Company,"407 Radam, F200",Austin,Texas,30.2234,-97.7697,http://512brewing.com/
1,21st Amendment Brewery Cafe,563 Second Street,San Francisco,California,37.7825,-122.3930,http://www.21st-amendment.com/
2,Abbey Wright Brewing/Valley Inn,204 Valley Street,Williamsport,Pennsylvania,41.2225,-77.0369,http://www.valleyinnonline.com/
3,Aberdeen Brewing,210 Aberdeen Dr.,Valparaiso,Indiana,41.4392,-87.1078,NaN
4,Abita Brewing Company,PO Box 1510,Abita Springs,Louisiana,30.5049,-89.9440,http://www.abita.com/
5,Aksarben Brewing (BOP),11337 Davenport St.,Omaha,Nebraska,41.2603,-96.0903,NaN
6,Alameda Brewhouse,4765 NE Fremont,Portland,Oregon,45.5484,-122.6190,NaN
7,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
8,Ale Asylum,3698 Kinsman Blvd,Madison,Wisconsin,43.1257,-89.3253,http://www.aleasylum.com/
9,AleSmith Brewing,9368 Cabot Drive,San Diego,California,32.8920,-117.1440,http://alesmith.com/
10,Ali`i Brewing,NaN,Honolulu,Hawaii,21.3069,-157.8580,NaN
11,Allagash Brewing,100 Industrial Way,Portland,Maine,43.7028,-70.3166,http://www.allagash.com/
12,Allentown Brew Works,814 W Hamilton St,Allentown,Pennsylvania,40.6016,-75.4740,http://www.thebrewworks.com/allentown-brewworks/
13,Alltech's Lexington Brewing Company,401 Cross Street,Lexington,Kentucky,38.0501,-84.5088,http://www.kentuckyale.com/kentuckyale/Index.html
14,Alpine Beer Company,2351 Alpine Boulevard,Alpine,California,32.8355,-116.7650,http://www.alpinebeerco.com/
15,America's Brewing,205 North Broadway,Aurora,Illinois,41.7605,-88.3090,NaN
16,American River Brewing,NaN,Auburn,California,38.8966,-121.0770,NaN
17,Amerisports Brew Pub,8201 NE Birmingham Road,Kansas City,Missouri,39.1551,-94.4820,NaN
18,Amherst Brewing Company,24 North Pleasant Street,Amherst,Massachusetts,42.3763,-72.5199,http://www.amherstbrewing.com/
19,"Amicas Pizza, Microbrews and More",136 East Second Street,Salida,Colorado,38.5350,-105.9920,NaN
20,Anacortes Brewing,320 Commercial Avenue,Anacortes,Washington,48.5193,-122.6130,http://www.anacortesrockfish.com/
21,Anchor Brewing,1705 Mariposa Street,San Francisco,California,37.7635,-122.4010,NaN
22,Anderson Valley Brewing,17700 Boonville Rd,Boonville,California,39.0014,-123.3560,http://avbc.com/
23,Andrew's Brewing,NaN,Lincolnville,Maine,44.3516,-69.1401,NaN
24,Angelic Brewing,NaN,Madison,Wisconsin,43.0785,-89.3820,NaN
25,Anheuser-Busch,One Busch Place,Saint Louis,Missouri,38.5983,-90.2090,http://www.anheuser-busch.com/
26,Appalachian Brewing Company,50 N. Cameron St.,Harrisburg,Pennsylvania,40.2659,-76.8753,http://www.abcbrew.com
27,Appleton Brewing,NaN,Appleton,Wisconsin,44.2619,-88.4154,NaN
28,Arcadia Brewing,103 West Michigan Avenue,Battle Creek,Michigan,42.3220,-85.1851,http://www.arcadiaales.com/
29,Asheville Pizza and Brewing Co.,675 Merrimon Avenue,Asheville,North Carolina,35.6221,-82.5536,http://www.ashevillepizza.com/
...,...,...,...,...,...,...,...
826,Weeping Radish Restaurant and Brewery - Manteo,525 N Virginia Dare Road,Manteo,North Carolina,35.8859,-75.6697,NaN
827,Weinkeller Brewery - Berwyn,NaN,Berwyn,Illinois,41.8506,-87.7937,NaN
828,Western Reserve Brewing,NaN,Cleveland,Ohio,41.4995,-81.6954,NaN
829,Weyerbacher Brewing Company,905 Line Street,Easton,Pennsylvania,40.6732,-75.2249,http://www.weyerbacher.com/
830,Wharf Rat,206 W. Pratt St.,Baltimore,Maryland,39.2866,-76.6182,http://www.thewharfrat.com
831,White Marsh Brewing Company,8149 Honeygo Blvd,White Marsh,Maryland,39.3722,-76.4638,http://www.redbrickstation.com/
832,White Oak Cider,18452 NE Ribbon Ridge Road,Newberg,Oregon,45.3498,-123.0730,NaN
833,White Winter Winery,7665 US Highway 2,Iron River,Wisconsin,47.3812,-94.6669,NaN
834,Widmer Brothers Brewing,929 North Russell Street,Portland,Oregon,45.5408,-122.6760,NaN
835,Wild Duck Brewing,NaN,Eugene,Oregon,44.0521,-123.0870,NaN
836,"Wild Goose Brewery, LLC",4607 Wedgewood Blvd.,Fredrick,Maryland,39.3628,-77.4265,http://www.wildgoosebrewery.com/
837,Wild Onion Brewing,NaN,Lake Barrington,Illinois,42.2108,-88.1652,NaN
838,Wild River Brewing and Pizza - Cave Junction,249 North Redwood Highway,Cave Junction,Oregon,42.1707,-123.6450,NaN
839,William Kuether Brewing,NaN,Clear Lake,Wisconsin,45.2519,-92.2713,NaN
840,Willoughby Brewing,4057 Erie Street,Willoughby,Ohio,41.6416,-81.4066,NaN
841,Wilmington Brewing,NaN,Wilmington,North Carolina,34.2257,-77.9447,NaN
842,Wisconsin Brewing,NaN,Wauwatosa,Wisconsin,43.0495,-88.0076,NaN
843,Wolf Pack Brewing,111 South Canyon Street,West Yellowstone,Montana,44.6584,-111.1000,NaN
844,Wolf Tongue Brewery,35 E. First St.,Nederland,Colorado,39.9619,-105.5100,NaN
845,Wynkoop Brewing,1634 18th Street,Denver,Colorado,39.7535,-104.9980,http://www.wynkoop.com/
846,Yakima Brewing and Malting / Grant's Ales,NaN,Yakima,Washington,46.6021,-120.5060,NaN
847,Yamhill Brewing,NaN,Portland,Oregon,45.5235,-122.6760,NaN
848,Yards Brewing,2439 Amber Street,Philadelphia,Pennsylvania,39.9831,-75.1274,NaN
849,Zea Rotisserie and Brewery,1525 St. Charles Avenue,New Orleans,Louisiana,29.9386,-90.0760,http://www.zearestaurants.com
850,Yegua Creek Brewing - Dallas,2920 North Henderson Ave,Dallas,Texas,32.8210,-96.7848,NaN
851,Yuengling & Son Brewing,310 Mill Creek Avenue,Pottsville,Pennsylvania,40.7000,-76.1747,http://www.yuengling.com
852,Yellowstone Valley Brewing,2123 1st Avenue North,Billings,Montana,45.7861,-108.4980,http://www.yellowstonevalleybrew.com
853,Yazoo Brewing,910 Division St,Nashville,Tennessee,36.1510,-86.7821,http://www.yazoobrew.com
854,Baxter Brewing,NaN,Lewiston,Maine,44.1004,-70.2148,NaN
855,Aviator Brewing Company,209 Technology Park Lane,Fuquay Varina,North Carolina,35.6197,-78.8085,http://www.aviatorbrew.com/

In [36]:
brewerydf.dtypes

brewery_name     object
address1         object
city             object
state            object
latitude        float64
longitude       float64
website          object
dtype: object

In [38]:
brewerydf = brewerydf.rename(columns={'brewery_name': 'brewery','address1':'address'})
brewerydf.columns.values

array(['brewery', 'address', 'city', 'state', 'latitude', 'longitude',
       'website'], dtype=object)

In [68]:
brewerydf.to_csv('breweries_final.csv', index=False)