In [1]:
import requests
import json
import pandas as pd
import csv
import os

In [2]:
beers_data= "beers-cleaned.csv"

beers_df = pd.read_csv(beers_data, encoding = "ISO-8859-1", engine='python')
beers_df.head()

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,descript,...,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213,Unnamed: 214
0,2,264,Grimbergen Blonde,-1,-1,6.7,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,779,Widdershins Barleywine,-1,-1,9.1,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,287,Lucifer,-1,-1,8.5,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,1056,Bitter,-1,-1,4,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,1099,Winter Welcome 2007-2008,-1,-1,6,10.0,0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
beer_df = beers_df.loc[:, ["brewery_id", "name", "style_id", "abv", "ibu"]]
beer_df.head()

   brewery_id                      name  style_id  abv   ibu
0         264         Grimbergen Blonde        -1  6.7  10.0
1         779    Widdershins Barleywine        -1  9.1  10.0
2         287                   Lucifer        -1  8.5  10.0
3        1056                    Bitter        -1    4  10.0
4        1099  Winter Welcome 2007-2008        -1    6  10.0

In [4]:
breweries_data= "breweries.csv"

breweries_df = pd.read_csv(breweries_data, encoding = "ISO-8859-1", engine='python')
breweries_df = breweries_df.rename(columns={'id': "brewery_id", "name": "brewery_name"})
breweries_df.head()

,brewery_id,brewery_name,address1,address2,city,state,code,country,phone,website,filepath,descript,last_mod
0,17,Alaskan Brewing,5429 Shaune Drive,NaN,Juneau,Alaska,99801,United States,1-907-780-5866,http://www.alaskanbeer.com/,NaN,The popularity of our beers has led to heroic ...,7/22/2010 20:00
1,575,Glacier Brewhouse,"737 W. 5th Ave., Suite 110",NaN,Anchorage,Alaska,99501,United States,(907) 274-2739,http://www.glacierbrewhouse.com/,NaN,NaN,7/22/2010 20:00
2,601,Great Bear Brewing,238 North Boundary Street,NaN,Wasilla,Alaska,99654,United States,1-907-373-4782,NaN,NaN,NaN,7/22/2010 20:00
3,858,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,NaN,Anchorage,Alaska,99507,United States,1-907-344-1179,http://www.midnightsunbrewing.com/,NaN,"Since firing up its brew kettle in 1995, Midni...",7/22/2010 20:00
4,885,Moose's Tooth Pub and Pizzeria,3300 Old Seward Highway,NaN,Anchorage,Alaska,99503,United States,(907) 258-2537,http://www.moosestooth.net/,NaN,NaN,7/22/2010 20:00

In [5]:
breweries_df.drop(['address2', 'code', 'filepath', 'last_mod'], axis=1, inplace=True)                          
breweries_df.head()

,brewery_id,brewery_name,address1,city,state,country,phone,website,descript
0,17,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,United States,1-907-780-5866,http://www.alaskanbeer.com/,The popularity of our beers has led to heroic ...
1,575,Glacier Brewhouse,"737 W. 5th Ave., Suite 110",Anchorage,Alaska,United States,(907) 274-2739,http://www.glacierbrewhouse.com/,NaN
2,601,Great Bear Brewing,238 North Boundary Street,Wasilla,Alaska,United States,1-907-373-4782,NaN,NaN
3,858,Midnight Sun Brewing Co.,8111 Dimond Hook Drive,Anchorage,Alaska,United States,1-907-344-1179,http://www.midnightsunbrewing.com/,"Since firing up its brew kettle in 1995, Midni..."
4,885,Moose's Tooth Pub and Pizzeria,3300 Old Seward Highway,Anchorage,Alaska,United States,(907) 258-2537,http://www.moosestooth.net/,NaN

In [6]:
beer_df = beer_df.rename(columns={'name': "beer_name"})
beer_df.head()

   brewery_id                 beer_name  style_id  abv   ibu
0         264         Grimbergen Blonde        -1  6.7  10.0
1         779    Widdershins Barleywine        -1  9.1  10.0
2         287                   Lucifer        -1  8.5  10.0
3        1056                    Bitter        -1    4  10.0
4        1099  Winter Welcome 2007-2008        -1    6  10.0

In [7]:
styles_data= "styles.csv"

styles_df = pd.read_csv(styles_data, encoding = "ISO-8859-1", engine='python')
styles_df.head(2)

,id,cat_id,style_name,Description,ABV_Low,ABV_High,IBU_low,IBU_High,SRM_Low,SRM_High,OG_Low,OG_High,FG_Low,FG_High,Glass Type
0,1,1,Classic English-Style Pale Ale,Classic English pale ales are golden to copper...,4.5,5.5,20,40,5.0,5.0,NaN,NaN,1.008,1.016,Stein
1,2,1,English-Style India Pale Ale,Most traditional interpretations of English-st...,5.0,7.0,35,63,6.0,14.0,NaN,NaN,1.012,1.018,Nonic Pint

In [8]:
styles_df = styles_df.loc[:, ["id","style_name", "Description"]]
styles_df.head(2)

,id,style_name,Description
0,1,Classic English-Style Pale Ale,Classic English pale ales are golden to copper...
1,2,English-Style India Pale Ale,Most traditional interpretations of English-st...

In [9]:
beer_styles = pd.merge(beer_df, styles_df, left_on="style_id", right_on="id")
beer_styles.head()

,brewery_id,beer_name,style_id,abv,ibu,id,style_name,Description
0,264,Grimbergen Blonde,-1,6.7,10.0,-1,Undefined-Ignore,anomaly 5
1,779,Widdershins Barleywine,-1,9.1,10.0,-1,Undefined-Ignore,anomaly 5
2,287,Lucifer,-1,8.5,10.0,-1,Undefined-Ignore,anomaly 5
3,1056,Bitter,-1,4,10.0,-1,Undefined-Ignore,anomaly 5
4,1099,Winter Welcome 2007-2008,-1,6,10.0,-1,Undefined-Ignore,anomaly 5

In [18]:
brewery_beer = pd.merge(breweries_df, beer_styles, on="brewery_id")
brewery_beer.head(2)

,brewery_id,brewery_name,address1,city,state,country,phone,website,descript,beer_name,style_id,abv,ibu,id,style_name,Description
0,17,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,United States,1-907-780-5866,http://www.alaskanbeer.com/,The popularity of our beers has led to heroic ...,Alaskan Summer Ale,-1,5.3,10.0,-1,Undefined-Ignore,anomaly 5
1,17,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,United States,1-907-780-5866,http://www.alaskanbeer.com/,The popularity of our beers has led to heroic ...,Alaskan ESB,5,5,10.0,5,Extra Special Bitter,Extra special bitter possesses medium to stron...

In [11]:
geo_data= "breweries_geocode.csv"

geo_df = pd.read_csv(geo_data, encoding = "ISO-8859-1", engine='python')
geo_df.head(2)

   id  brewery_id  latitude  longitude accuracy                 location
0   1           1   30.2234   -97.7697  ROOFTOP  POINT(-97.7697 30.2234)
1   2           2   37.7825  -122.3930  ROOFTOP  POINT(-122.393 37.7825)

In [23]:
beerdf = pd.merge(brewery_beer, geo_df, on="brewery_id")
beerdf.head(2)

,brewery_id,brewery_name,address1,city,state,country,phone,website,descript,beer_name,...,abv,ibu,id_x,style_name,Description,id_y,latitude,longitude,accuracy,location
0,17,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,United States,1-907-780-5866,http://www.alaskanbeer.com/,The popularity of our beers has led to heroic ...,Alaskan Summer Ale,...,5.3,10.0,-1,Undefined-Ignore,anomaly 5,17,58.3573,-134.49,ROOFTOP,POINT(-134.49 58.3573)
1,17,Alaskan Brewing,5429 Shaune Drive,Juneau,Alaska,United States,1-907-780-5866,http://www.alaskanbeer.com/,The popularity of our beers has led to heroic ...,Alaskan ESB,...,5,10.0,5,Extra Special Bitter,Extra special bitter possesses medium to stron...,17,58.3573,-134.49,ROOFTOP,POINT(-134.49 58.3573)

In [24]:
beerdf = beerdf.loc[:, ["brewery_name","beer_name", "abv", "ibu","style_name", "address1", "city", "state","latitude","longitude","website"]]
beerdf

,brewery_name,beer_name,abv,ibu,style_name,address1,city,state,latitude,longitude,website
0,Alaskan Brewing,Alaskan Summer Ale,5.3,10.0,Undefined-Ignore,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
1,Alaskan Brewing,Alaskan ESB,5,10.0,Extra Special Bitter,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
2,Alaskan Brewing,Alaskan Amber,5.3,10.0,Old Ale,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
3,Alaskan Brewing,Alaskan Stout,5.7,10.0,Oatmeal Stout,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
4,Alaskan Brewing,Alaskan Smoked Porter,6.5,10.0,Porter,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
5,Alaskan Brewing,Alaskan IPA,6.2,10.0,American-Style India Pale Ale,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
6,Alaskan Brewing,Alaskan Barley Wine Ale,14.5.4,10.0,American-Style Barley Wine Ale,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
7,Alaskan Brewing,Alaskan Pale,5.2,10.0,Golden or Blonde Ale,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
8,Alaskan Brewing,Alaskan White Ale,5.3,10.0,Belgian-Style White,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
9,Alaskan Brewing,Breakup Bock,7,10.0,Traditional German-Style Bock,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
10,Alaskan Brewing,Winter Ale,6.4,10.0,Winter Warmer,5429 Shaune Drive,Juneau,Alaska,58.3573,-134.4900,http://www.alaskanbeer.com/
11,Glacier Brewhouse,Black Rye Bock,6.2,10.0,Traditional German-Style Bock,"737 W. 5th Ave., Suite 110",Anchorage,Alaska,61.2179,-149.8960,http://www.glacierbrewhouse.com/
12,Great Bear Brewing,Pioneer Peak Porter,4.3,10.0,Porter,238 North Boundary Street,Wasilla,Alaska,61.5816,-149.4390,NaN
13,Midnight Sun Brewing Co.,Specialty Beer: Oak-Aged Black Double IPA,8.5,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
14,Midnight Sun Brewing Co.,Arctic Devil Barley Wine,13.2,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
15,Midnight Sun Brewing Co.,Envy,7,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
16,Midnight Sun Brewing Co.,Midnight Sun Kolsch,5,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
17,Midnight Sun Brewing Co.,Specialty Beer: Black Double IPA,8.5,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
18,Midnight Sun Brewing Co.,Brewtality Espresso Black Bier,9.7,10.0,Undefined-Ignore,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
19,Midnight Sun Brewing Co.,Full Curl Scotch Ale,6,10.0,Scotch Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
20,Midnight Sun Brewing Co.,Earth - Belgian Style Chocolate Milk Stout,5,10.0,Sweet Stout,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
21,Midnight Sun Brewing Co.,Arctic Rhino Coffee Porter,5,10.0,Porter,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
22,Midnight Sun Brewing Co.,Oak-Aged Imperial Chocolate Pumpkin Porter,7.8,10.0,Porter,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
23,Midnight Sun Brewing Co.,Rondy Brew 2009,4.5,10.0,American-Style Pale Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
24,Midnight Sun Brewing Co.,La Maitresse du Moine,9,10.0,Dark American-Belgo-Style Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
25,Midnight Sun Brewing Co.,Conspiracy,8.5,10.0,Dark American-Belgo-Style Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
26,Midnight Sun Brewing Co.,Sockeye Red IPA,5.7,10.0,American-Style India Pale Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
27,Midnight Sun Brewing Co.,Obliteration VI,8.5,10.0,Imperial or Double India Pale Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
28,Midnight Sun Brewing Co.,CoHoHo Imperial IPA,8,10.0,Imperial or Double India Pale Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
29,Midnight Sun Brewing Co.,Meltdown Double IPA,8,10.0,Imperial or Double India Pale Ale,8111 Dimond Hook Drive,Anchorage,Alaska,61.1473,-149.8440,http://www.midnightsunbrewing.com/
...,...,...,...,...,...,...,...,...,...,...,...
4454,Water Street Brewery,Bavarian Weiss Beer,4.5,10.0,South German-Style Hefeweizen,1101 North Water Street,Milwaukee,Wisconsin,43.0448,-87.9114,NaN
4455,Water Street Brewery,Old World Oktoberfest,4.5,10.0,German-Style Oktoberfest,1101 North Water Street,Milwaukee,Wisconsin,43.0448,-87.9114,NaN
4456,Water Street Brewery,Honey Lager Light,4.5,10.0,American-Style Lager,1101 North Water Street,Milwaukee,Wisconsin,43.0448,-87.9114,NaN
4457,Water Street Brewery,Pils,4.5,10.0,American-Style Lager,1101 North Water Street,Milwaukee,Wisconsin,43.0448,-87.9114,NaN
4458,Water Street Lake Country,Pils,4.5,10.0,Undefined-Ignore,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4459,Water Street Lake Country,Pale Ale,4.5,10.0,American-Style Pale Ale,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4460,Water Street Lake Country,Irish Red,4.5,10.0,American-Style Amber/Red Ale,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4461,Water Street Lake Country,Amber,4.5,10.0,American-Style Amber/Red Ale,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4462,Water Street Lake Country,Bavarian Weiss Beer,4.5,10.0,South German-Style Hefeweizen,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4463,Water Street Lake Country,Old World Oktoberfest,4.5,10.0,German-Style Oktoberfest,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4464,Water Street Lake Country,Honey Lager Light,4.5,10.0,American-Style Lager,3191 Golf Road,Delafield,Wisconsin,43.0525,-88.3663,NaN
4465,White Winter Winery,Dry Mead,4.5,10.0,Undefined-Ignore,7665 US Highway 2,Iron River,Wisconsin,47.3812,-94.6669,NaN
4466,White Winter Winery,Traditional Brackett,7,10.0,Undefined-Ignore,7665 US Highway 2,Iron River,Wisconsin,47.3812,-94.6669,NaN
4467,William Kuether Brewing,Princess of Darkness Porter,5.4,10.0,Porter,NaN,Clear Lake,Wisconsin,45.2519,-92.2713,NaN
4468,Wisconsin Brewing,Badger Porter,4.5,10.0,Porter,NaN,Wauwatosa,Wisconsin,43.0495,-88.0076,NaN
4469,Wisconsin Brewing,Rainbow Red Ale,4.5,10.0,American-Style Amber/Red Ale,NaN,Wauwatosa,Wisconsin,43.0495,-88.0076,NaN
4470,Bottom's Up Brewing,Strom Bomb Stout,7.3,10.0,American-Style Stout,402 West Pine Street,Pinedale,Wyoming,42.8666,-109.8660,NaN
4471,C.B. & Potts of Cheyenne,Big Horn Wyoming Blonde,4.5,10.0,Undefined-Ignore,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4472,C.B. & Potts of Cheyenne,Big Horn Total Disorder Porter,4.5,10.0,Porter,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4473,C.B. & Potts of Cheyenne,Big Horn Big Red Ale,4.5,10.0,American-Style Pale Ale,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4474,C.B. & Potts of Cheyenne,Big Horn Buttface Amber,4.5,10.0,American-Style Amber/Red Ale,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4475,C.B. & Potts of Cheyenne,Big Horn Fort Collins Stout,4.5,10.0,American-Style Stout,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4476,C.B. & Potts of Cheyenne,Big Horn Hefeweizen,4.5,10.0,South German-Style Hefeweizen,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4477,C.B. & Potts of Cheyenne,Big Horn Light,4.5,10.0,American-Style Lager,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4478,C.B. & Potts of Cheyenne,Big Horn Bluesberry,4.5,10.0,Light American Wheat Ale or Lager,1650 Dell Range Boulevard,Cheyenne,Wyoming,41.1607,-104.8020,NaN
4479,Grand Teton Brewing #1,Moose Juice Stout,4.5,10.0,American-Style Stout,1295 North West Street,Wilson,Wyoming,43.4988,-110.8770,NaN
4480,Sanford's Grub and Pub,Red Line Amber,4.5,10.0,American-Style Amber/Red Ale,5 East Alger Street,Sheridan,Wyoming,44.8007,-106.9560,NaN
4481,Sanford's Grub and Pub,Oil Can Stout,4.5,10.0,American-Style Stout,5 East Alger Street,Sheridan,Wyoming,44.8007,-106.9560,NaN
4482,Sweetwater Brewing - Casper,Surefire Stout,4.5,10.0,American-Style Stout,NaN,Casper,Wyoming,42.8666,-106.3130,NaN
4483,Sweetwater Brewing - Casper,Wild Wyo Wheat,4.5,10.0,American-Style Lager,NaN,Casper,Wyoming,42.8666,-106.3130,NaN

In [25]:
beerdf.to_csv('breweries.csv', index=False)